<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Revisao
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input 
    [(ngModel)]="n1"
    label="Coloque seu número" 
    type="tel" 
    placeholder="Aqui">
  </ion-input>
  </ion-item>
  <ion-item>
    <ion-input 
    [(ngModel)]="n2"
    label="Coloque seu segundo número" 
    type="tel" 
    placeholder="Aqui">
  </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="somar()">Somar</ion-button>
  <ion-button expand="block" (click)="subtrair()">Subtrair</ion-button>
  <ion-button expand="block" (click)="multiplicar()">Multiplicar</ion-button>
  <ion-button expand="block" (click)="dividir()">Dividir</ion-button>



  <ion-label>{{res}}</ion-label>
</ion-content>
